/* 

add additional styling to the template 
here so that it's refactorable later.
consider new html elements as well.
good luck!

- kathir

*/

body {
    background-color: #f4ebd5;
}

.button {
    background-color: #dfd2b3; 
    border-color: #726547;
    border-radius: 10px;
}

.button:hover {
    background-color: #8d8164; 
}

button:active,button:focus {
    border-color: #222;
    outline: none
}

.portfolio-title-section h2 {
    font-size: 4.5em;
}

.title-wrap h2 {
    font-family: 'Monospace', 'Courier New';
    color: #3b3629;
}

.site-content {
    padding: 25px 0
}

/* 

.css-class {
    attribute: value(s)
} 

... if this doesn't make sense go learn how css works first!

*/